@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sidemenu-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}